
    <body class="register-page" style="min-height: 586.781px;">
      <div class="register-box">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Quick Example <small>jQuery Validation</small></h3>
      </div>
    <div class="alert alert-danger" *ngIf="eureur==1">
<strong>Erreur...</strong>

    </div>


      <form role="form" id="quickForm" novalidate="novalidate" (ngSubmit)="Connexion()">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" [(ngModel)]="user.email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="user.password" password="password">
          </div>
         
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-primary" (click)="Connexion()">Submit</button>
        </div>
      </form>
    </div>
      </div>
      </body>
      
      
   
    <script src="../../plugins/jquery/jquery.min.js"></script>
   
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <script src="../../dist/js/adminlte.min.js"></script>
    
    
    
    